test*.*
!src/test/test*.*
__pycache__
.ropeproject
/test/*
*.h5
/results
*.log
*.Rhistory
*.feather
*.csv
.vscode
*.lprof
src/db/feather
src/resultstest_
src/results
src/plots
Ecosongs.mm
*.pro.user
src/test/test copy.py
src/test/test_import.py
src/test/test_plot_activity_subsampling.py
src/test/test.py
src/gui/widgets/common/checkable_combobox.py
src/gui/widgets/common/unit_lineedit.py
src/gui/widgets/common/ui/labeled_slider_ui.py
src/gui/ecosongs_new.ui
src/test/db/feather/analysis_options copy.feather.bak
src/plot/export_data_celine.py
src/test/test_detector.py
src/test/test_flowchart.py
src/test/test_graph_eval.py
src/test/test_list_comp.py
src/test/test_profile_detector copy.py
src/test/test_scatter.py
src/test/timeplot.py
src/test/tags_matched.png
src/test/citynet2/models
logs
src/test/test_detector_new.py
src/test/test_SNR.py
src/test/test_detector_new.py
src/test/test_detector_new.py
src/test/example.wav
src/test/rename.R
