test*.*
!src/test/test*.*
__pycache__
.ropeproject
/test/*
*.h5
/results
*.log
*.Rhistory
*.feather
*.csv
.vscode
*.lprof
src/db/feather
src/resultstest_
src/results
src/plots
Ecosongs.mm
*.pro.user
